// Fonts
@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-Regular.ttf")  format("truetype"),
         url("../fonts/Noah-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-Bold.ttf")  format("truetype"),
         url("../fonts/Noah-Bold.otf") format("opentype");
    font-weight: 700;
}
// Fonts end

// Colors
$font-noah: "Noah", sans-serif;
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}