// Fonts
@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-Regular.ttf")  format("truetype"),
         url("../fonts/Noah-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Noah";
    src: url("../fonts/Noah-Bold.ttf")  format("truetype"),
         url("../fonts/Noah-Bold.otf") format("opentype");
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

$font-noah: "Noah", sans-serif;
$font-golos: "Golos Text", sans-serif;
// Fonts end

// Colors
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

@mixin swpPagination () {
    position: relative;
    top: auto !important;
    bottom: auto;
    height: 6px;
    width: 100%;
    background: #ECEFF6;
    border-radius: 0 !important;
    margin-top: 40px;

    @include media(1500) {
        margin-top: 30px;
    }

    @include media(1100) {
        margin-top: 40px;
    }

    @include media(700) {
        margin-top: 20px;
    }

    div {
        height: 100%;
        background: #F92F43;
        border-radius: 0 !important;
        cursor: pointer;
    }
}

@mixin secPadding () {
    padding-top: 100px;

    @include media(1100) {
        padding-top: 96px;
    }

    @include media(700) {
        padding-top: 60px;
    }
}

@mixin imgFluid () {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin sectionPadding () {
    padding-top: 100px;

    @include media(1500) {
        padding-top: 90px;
    }

    @include media(1100) {
        padding-top: 96px;
    }

    @include media(700) {
        padding-top: 60px;
    }
}