* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
  font-weight: 700;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-weight: 700;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Regular.ttf") format("truetype"), url("../fonts/Noah-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Bold.ttf") format("truetype"), url("../fonts/Noah-Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  background: white;
  color: #465068;
  font-weight: 700;
  font-family: "Noah", sans-serif;
}

button, select, input, textarea, li, div, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Noah", sans-serif;
  font-weight: 700;
  color: #465068;
}

.btn-red {
  background: #F92F43;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  line-height: 30px;
  padding: 15px;
}

.container {
  max-width: 1520px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}
.breadcrumb a {
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

.home {
  padding-top: 40px;
}
.home-container {
  background: #ECEFF6;
  padding: 40px;
}
.home .breadcrumb {
  margin-bottom: 28px;
}
.home-link {
  display: flex;
  align-items: stretch;
  gap: 2px;
  margin-bottom: 76px;
}
.home-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 20px 13px;
  font-size: 18px;
  line-height: 22px;
  background: white;
}
.home-link a.active {
  padding-left: 42px;
  background: #465068;
  color: white;
  position: relative;
}
.home-link a.active::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #F92F43;
  left: 20px;
  top: 16px;
}
.home h2 {
  font-size: 80px;
  line-height: 80%;
  margin-bottom: 30px;
}
.home .description {
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
}

.section_margin {
  margin-top: 100px;
}

.about {
  margin-top: 100px;
}
.about .container {
  display: flex;
}
@media screen and (max-width: 1100px) {
  .about .container {
    flex-direction: column;
  }
}
.about_text {
  width: 620px;
  padding: 37px 40px 70px 40px;
  background: #ECEFF6;
}
@media screen and (max-width: 1100px) {
  .about_text {
    padding: 36px;
    width: 100%;
    height: 512px;
  }
}
@media screen and (max-width: 700px) {
  .about_text {
    padding: 20px;
    height: 450px;
  }
}
.about_text h6 {
  font-family: "Noah", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #465068;
  margin-bottom: 30px;
}
@media screen and (max-width: 1100px) {
  .about_text h6 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 42px;
  }
}
@media screen and (max-width: 700px) {
  .about_text h6 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 100%;
  }
}
.about_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #465068;
  max-width: 450px;
  padding-right: 15px;
}
@media screen and (max-width: 1100px) {
  .about_text p {
    max-width: 100%;
    padding-right: 30px;
  }
}
@media screen and (max-width: 700px) {
  .about_text p {
    font-size: 16px;
    line-height: 130%;
  }
}
.about_main_text {
  position: relative;
}
.about_main_text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 103px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(236, 239, 246, 0) 0%, #ECEFF6 90%);
}
.about_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  max-height: 470px;
}
@media screen and (max-width: 1100px) {
  .about_content {
    max-height: 374px;
    gap: 24px;
  }
}
@media screen and (max-width: 700px) {
  .about_content {
    gap: 12px;
  }
}
.about_content::-webkit-scrollbar {
  display: block;
  width: 2px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
}
.about_content::-webkit-scrollbar-track {
  display: block;
  width: 2px;
  border-radius: 0;
}
.about_content::-webkit-scrollbar-thumb {
  background: #F92F43;
  width: 100%;
}
.about_img {
  width: 900px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .about_img {
    width: 100%;
    height: 380px;
  }
}
.about_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F92F43;
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .about_play {
    width: 64px;
    height: 64px;
  }
}
@media screen and (max-width: 700px) {
  .about_play {
    width: 40px;
    height: 40px;
  }
}
.about_play svg {
  transform: translateX(5px);
}
@media screen and (max-width: 1100px) {
  .about_play svg {
    width: 22px;
    height: 19.2px;
  }
}
@media screen and (max-width: 700px) {
  .about_play svg {
    width: 14px;
    height: 12px;
    transform: translateX(2px);
  }
}/*# sourceMappingURL=style.css.map */